<h1>CS50 QuizApp</h1>
<p id="hello">Hello fellow CS50 students!</p>
<p id="intro">
  The goal of this app is to make it easier for you to assess your current
  knowledge about the contents of CS50. What have you already understood? What
  do you still need to learn?
</p>
<p id="contribute">
  If you want to adapt the code or contribute have a look at the
  <a href="https://github.com/cheykoff/quizapp">repository on github</a>.
</p>
<p>Have fun</p>
<button routerLink="/exercise">Start exercise</button>
